In [516]:
import pandas as pd
import numpy as np

books = pd.read_csv("books.csv")
books

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [517]:
tags = pd.read_csv("tags.csv")
tags

       tag_id    tag_name
0           0           -
1           1        --1-
2           2       --10-
3           3       --12-
4           4      --122-
...       ...         ...
34247   34247   Ôº£hildrens
34248   34248   Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì
34249   34249       Ôº≠ÔΩÅÔΩéÔΩáÔΩÅ
34250   34250      Ôº≥Ôº•Ôº≤Ôº©Ôº•Ôº≥
34251   34251  ÔΩÜÔΩÅÔΩñÔΩèÔΩïÔΩíÔΩâÔΩîÔΩÖÔΩì

[34252 rows x 2 columns]

In [518]:
book_tags = pd.read_csv("book_tags.csv")
book_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [519]:
book_tags = book_tags.merge(tags, how="left", on="tag_id")
book_tags.head(25)

    goodreads_book_id  tag_id   count            tag_name
0                   1   30574  167697             to-read
1                   1   11305   37174             fantasy
2                   1   11557   34173           favorites
3                   1    8717   12986   currently-reading
4                   1   33114   12716         young-adult
5                   1   11743    9954             fiction
6                   1   14017    7169        harry-potter
7                   1    5207    6221         books-i-own
8                   1   22743    4974               owned
9                   1   32989    4364                  ya
10                  1   27199    3857              series
11                  1   11590    3456          favourites
12                  1   18886    3374               magic
13                  1    6953    2408           childrens
14                  1   22753    1881         owned-books
15                  1   24960    1821             re-read
16                  1    1691    1742           adventure
17                  1    6857    1560            children
18                  1   15965    1309         j-k-rowling
19                  1    6888    1095          children-s
20                  1   26785    1093      sci-fi-fantasy
21                  1    6828    1027           childhood
22                  1    2104    1022  all-time-favorites
23                  1    9221     987             default
24                  1   20774     984            my-books

In [520]:
book_tags.goodreads_book_id.min()

1

In [521]:
book_tags.goodreads_book_id.max()

33288638

In [522]:
book_tags.goodreads_book_id.unique()

array([       1,        2,        3, ..., 32075671, 32848471, 33288638],
      dtype=int64)

In [523]:
book_tags.goodreads_book_id.values

array([       1,        1,        1, ..., 33288638, 33288638, 33288638],
      dtype=int64)

In [524]:
not_intresting = ["to-read", "currently-reading", "books-i-own", "owned", "favourites", "favorites", "owned-books" ]

In [525]:
book_tags.drop(book_tags[book_tags.tag_name.isin(not_intresting)].index, inplace=True)

In [526]:
tag_per_book = book_tags.groupby("goodreads_book_id")["tag_name"].count()

In [527]:
tag_per_book.min()

53

In [528]:
book_tags.sort_values(["goodreads_book_id", "count"], ascending=[True, False])

        goodreads_book_id  tag_id  count         tag_name
1                       1   11305  37174          fantasy
4                       1   33114  12716      young-adult
5                       1   11743   9954          fiction
6                       1   14017   7169     harry-potter
9                       1   32989   4364               ya
...                   ...     ...    ...              ...
999907           33288638   21303      7        neighbors
999908           33288638   17271      7  kindleunlimited
999909           33288638    1126      7     5-star-reads
999910           33288638   11478      7      fave-author
999911           33288638   27939      7         slowburn

[934972 rows x 4 columns]

In [529]:
book_tags.reset_index(drop=True, inplace=True)

In [530]:
index_test = pd.Int64Index([])

In [531]:
test = book_tags[book_tags["goodreads_book_id"] == 1].index

In [532]:
test

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92],
           dtype='int64')

In [533]:
test = test[0:2]
test

Int64Index([0, 1], dtype='int64')

In [534]:
index_test = index_test.append(test)

In [535]:
index_test

Int64Index([0, 1], dtype='int64')

In [536]:
test2 = book_tags[book_tags["goodreads_book_id"] == 2].index

In [537]:
test2

Int64Index([ 93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
            106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118,
            119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
            132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
            145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
            158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170,
            171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
            184, 185],
           dtype='int64')

In [538]:
test2 = test2[0:2]
test2

Int64Index([93, 94], dtype='int64')

In [539]:
index_test = index_test.append(test2)

In [540]:
index_test

Int64Index([0, 1, 93, 94], dtype='int64')

In [541]:
df = book_tags.iloc[test]
df

   goodreads_book_id  tag_id  count     tag_name
0                  1   11305  37174      fantasy
1                  1   33114  12716  young-adult

In [542]:
indexes = pd.Int64Index([])

In [543]:
for book_id in book_tags.goodreads_book_id.unique():
    book_index = book_tags[book_tags["goodreads_book_id"] == book_id].index
    book_index = book_index[0:5]
    indexes = indexes.append(book_index)

In [544]:
book_tags.iloc[indexes]

        goodreads_book_id  tag_id  count              tag_name
0                       1   11305  37174               fantasy
1                       1   33114  12716           young-adult
2                       1   11743   9954               fiction
3                       1   14017   7169          harry-potter
4                       1   32989   4364                    ya
...                   ...     ...    ...                   ...
934877           33288638   26138    385               romance
934878           33288638    8055    216          contemporary
934879           33288638    8076    185  contemporary-romance
934880           33288638   17260    144      kindle-unlimited
934881           33288638   27934    120             slow-burn

[50000 rows x 4 columns]

In [545]:
new_book_tags = book_tags.iloc[indexes]
new_book_tags

        goodreads_book_id  tag_id  count              tag_name
0                       1   11305  37174               fantasy
1                       1   33114  12716           young-adult
2                       1   11743   9954               fiction
3                       1   14017   7169          harry-potter
4                       1   32989   4364                    ya
...                   ...     ...    ...                   ...
934877           33288638   26138    385               romance
934878           33288638    8055    216          contemporary
934879           33288638    8076    185  contemporary-romance
934880           33288638   17260    144      kindle-unlimited
934881           33288638   27934    120             slow-burn

[50000 rows x 4 columns]

In [546]:
new_book_tags.reset_index(drop=True, inplace=True)

In [547]:
new_book_tags

       goodreads_book_id  tag_id  count              tag_name
0                      1   11305  37174               fantasy
1                      1   33114  12716           young-adult
2                      1   11743   9954               fiction
3                      1   14017   7169          harry-potter
4                      1   32989   4364                    ya
...                  ...     ...    ...                   ...
49995           33288638   26138    385               romance
49996           33288638    8055    216          contemporary
49997           33288638    8076    185  contemporary-romance
49998           33288638   17260    144      kindle-unlimited
49999           33288638   27934    120             slow-burn

[50000 rows x 4 columns]

In [548]:
new_book_tags = new_book_tags.merge(books[["original_title", "book_id", "goodreads_book_id"]], on="goodreads_book_id", how="left")

In [549]:
new_book_tags

,goodreads_book_id,tag_id,count,tag_name,original_title,book_id
0,1,11305,37174,fantasy,Harry Potter and the Half-Blood Prince,27
1,1,33114,12716,young-adult,Harry Potter and the Half-Blood Prince,27
2,1,11743,9954,fiction,Harry Potter and the Half-Blood Prince,27
3,1,14017,7169,harry-potter,Harry Potter and the Half-Blood Prince,27
4,1,32989,4364,ya,Harry Potter and the Half-Blood Prince,27
...,...,...,...,...,...,...
49995,33288638,26138,385,romance,Wait for It,8892
49996,33288638,8055,216,contemporary,Wait for It,8892
49997,33288638,8076,185,contemporary-romance,Wait for It,8892
49998,33288638,17260,144,kindle-unlimited,Wait for It,8892
49999,33288638,27934,120,slow-burn,Wait for It,8892

In [550]:
new_book_tags.isna().sum()

goodreads_book_id       0
tag_id                  0
count                   0
tag_name                0
original_title       2925
book_id                 0
dtype: int64

In [551]:
new_book_tags = new_book_tags.dropna()

In [552]:
new_book_tags.isna().sum()

goodreads_book_id    0
tag_id               0
count                0
tag_name             0
original_title       0
book_id              0
dtype: int64

In [553]:
new_book_tags = new_book_tags.reset_index(drop=True)

In [554]:
new_book_tags

,goodreads_book_id,tag_id,count,tag_name,original_title,book_id
0,1,11305,37174,fantasy,Harry Potter and the Half-Blood Prince,27
1,1,33114,12716,young-adult,Harry Potter and the Half-Blood Prince,27
2,1,11743,9954,fiction,Harry Potter and the Half-Blood Prince,27
3,1,14017,7169,harry-potter,Harry Potter and the Half-Blood Prince,27
4,1,32989,4364,ya,Harry Potter and the Half-Blood Prince,27
...,...,...,...,...,...,...
47070,33288638,26138,385,romance,Wait for It,8892
47071,33288638,8055,216,contemporary,Wait for It,8892
47072,33288638,8076,185,contemporary-romance,Wait for It,8892
47073,33288638,17260,144,kindle-unlimited,Wait for It,8892
47074,33288638,27934,120,slow-burn,Wait for It,8892

In [555]:
new_book_tags.to_csv("content_based.csv")

In [556]:
new_book_tags = pd.read_csv("content_based.csv")

In [557]:
new_book_tags["tag_concat"] = new_book_tags.groupby(["goodreads_book_id", "original_title"]).transform(lambda x : "|".join(x))

In [558]:
new_book_tags

,Unnamed: 0,goodreads_book_id,tag_id,count,tag_name,original_title,book_id,tag_concat
0,0,1,11305,37174,fantasy,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
1,1,1,33114,12716,young-adult,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
2,2,1,11743,9954,fiction,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
3,3,1,14017,7169,harry-potter,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
4,4,1,32989,4364,ya,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
...,...,...,...,...,...,...,...,...
47070,47070,33288638,26138,385,romance,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47071,47071,33288638,8055,216,contemporary,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47072,47072,33288638,8076,185,contemporary-romance,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47073,47073,33288638,17260,144,kindle-unlimited,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47074,47074,33288638,27934,120,slow-burn,Wait for It,8892,romance|contemporary|contemporary-romance|kind...

In [559]:
new_book_tags.drop(columns=["tag_id", "count", "Unnamed: 0", "tag_name"], inplace=True)

In [560]:
new_book_tags

,goodreads_book_id,original_title,book_id,tag_concat
0,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
1,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
2,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
3,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
4,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
...,...,...,...,...
47070,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47071,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47072,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47073,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...
47074,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...

In [561]:
new_book_tags = new_book_tags.iloc[::5,:]

In [562]:
new_book_tags.to_csv("new_book_tags.csv")

In [563]:
new_book_tags_onehot = new_book_tags.join(new_book_tags['tag_concat'].str.get_dummies("|"))

In [564]:
new_book_tags_onehot

,goodreads_book_id,original_title,book_id,tag_concat,00-in-class,1,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,...,ŸÖÿµÿ∑ŸÅŸâ-ŸÖÿ≠ŸÖŸàÿØ,ŸÖÿµÿ∑ŸÅŸä-ŸÖÿ≠ŸÖŸàÿØ,ŸÖŸÇÿßŸÑÿßÿ™,ŸÜÿ¨Ÿäÿ®-ŸÖÿ≠ŸÅŸàÿ∏,ŸáŸäÿ®ÿ™ÿß,ŸäŸàÿ≥ŸÅ-ÿ≤ŸäÿØÿßŸÜ,Ÿêarabic,Ôª≥ÔªÆÔ∫≥Ôªí-ÿ≤ŸäÿØÿßŸÜ,Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì,Ôº≠ÔΩÅÔΩéÔΩáÔΩÅ
0,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2,Harry Potter and the Order of the Phoenix,21,fantasy|children|children-s|all-time-favorites...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,Harry Potter and the Philosopher's Stone,2,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,5,Harry Potter and the Prisoner of Azkaban,18,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,6,Harry Potter and the Goblet of Fire,24,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47050,31538635,"Short Stories from Hogwarts of Heroism, Hardsh...",6428,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47055,31538647,Hogwarts: An Incomplete and Unreliable Guide,7523,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47060,31845516,Love Warrior,4594,memoir|non-fiction|nonfiction|memoirs|book-club,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47065,32075671,The Hate U Give,9569,young-adult|contemporary|fiction|read-in-2017|...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47070,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [565]:
new_book_tags_onehot

,goodreads_book_id,original_title,book_id,tag_concat,00-in-class,1,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,...,ŸÖÿµÿ∑ŸÅŸâ-ŸÖÿ≠ŸÖŸàÿØ,ŸÖÿµÿ∑ŸÅŸä-ŸÖÿ≠ŸÖŸàÿØ,ŸÖŸÇÿßŸÑÿßÿ™,ŸÜÿ¨Ÿäÿ®-ŸÖÿ≠ŸÅŸàÿ∏,ŸáŸäÿ®ÿ™ÿß,ŸäŸàÿ≥ŸÅ-ÿ≤ŸäÿØÿßŸÜ,Ÿêarabic,Ôª≥ÔªÆÔ∫≥Ôªí-ÿ≤ŸäÿØÿßŸÜ,Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì,Ôº≠ÔΩÅÔΩéÔΩáÔΩÅ
0,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2,Harry Potter and the Order of the Phoenix,21,fantasy|children|children-s|all-time-favorites...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,Harry Potter and the Philosopher's Stone,2,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,5,Harry Potter and the Prisoner of Azkaban,18,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,6,Harry Potter and the Goblet of Fire,24,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47050,31538635,"Short Stories from Hogwarts of Heroism, Hardsh...",6428,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47055,31538647,Hogwarts: An Incomplete and Unreliable Guide,7523,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47060,31845516,Love Warrior,4594,memoir|non-fiction|nonfiction|memoirs|book-club,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47065,32075671,The Hate U Give,9569,young-adult|contemporary|fiction|read-in-2017|...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47070,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [566]:
new_book_tags_onehot.reset_index(drop=True, inplace=True)

In [567]:
new_book_tags_onehot

,goodreads_book_id,original_title,book_id,tag_concat,00-in-class,1,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,...,ŸÖÿµÿ∑ŸÅŸâ-ŸÖÿ≠ŸÖŸàÿØ,ŸÖÿµÿ∑ŸÅŸä-ŸÖÿ≠ŸÖŸàÿØ,ŸÖŸÇÿßŸÑÿßÿ™,ŸÜÿ¨Ÿäÿ®-ŸÖÿ≠ŸÅŸàÿ∏,ŸáŸäÿ®ÿ™ÿß,ŸäŸàÿ≥ŸÅ-ÿ≤ŸäÿØÿßŸÜ,Ÿêarabic,Ôª≥ÔªÆÔ∫≥Ôªí-ÿ≤ŸäÿØÿßŸÜ,Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì,Ôº≠ÔΩÅÔΩéÔΩáÔΩÅ
0,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Harry Potter and the Order of the Phoenix,21,fantasy|children|children-s|all-time-favorites...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Harry Potter and the Philosopher's Stone,2,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Harry Potter and the Prisoner of Azkaban,18,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,Harry Potter and the Goblet of Fire,24,fantasy|young-adult|fiction|harry-potter|ya,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9410,31538635,"Short Stories from Hogwarts of Heroism, Hardsh...",6428,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9411,31538647,Hogwarts: An Incomplete and Unreliable Guide,7523,fantasy|short-stories|harry-potter|fiction|kindle,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,31845516,Love Warrior,4594,memoir|non-fiction|nonfiction|memoirs|book-club,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9413,32075671,The Hate U Give,9569,young-adult|contemporary|fiction|read-in-2017|...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9414,33288638,Wait for It,8892,romance|contemporary|contemporary-romance|kind...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [568]:
new_book_tags_onehot.to_csv("new_book_tags_onehot.csv")

In [569]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(new_book_tags_onehot.iloc[:,5:])

In [576]:
harry_id = 3
harry_top10 = np.argsort(cos_sim[harry_id])
harry_top10

array([9414, 6352, 6348, ...,    4,    2,    0], dtype=int64)

In [577]:
harry_top10 = harry_top10[-10:][::-1]

In [578]:
harry_top10

array([   0,    2,    4,    3, 3803,  224, 8890, 2597, 7930, 7918],
      dtype=int64)

In [579]:
new_book_tags.iloc[harry_top10]

,goodreads_book_id,original_title,book_id,tag_concat
0,1,Harry Potter and the Half-Blood Prince,27,fantasy|young-adult|fiction|harry-potter|ya
10,3,Harry Potter and the Philosopher's Stone,2,fantasy|young-adult|fiction|harry-potter|ya
20,6,Harry Potter and the Goblet of Fire,24,fantasy|young-adult|fiction|harry-potter|ya
15,5,Harry Potter and the Prisoner of Azkaban,18,fantasy|young-adult|fiction|harry-potter|ya
19015,136251,Harry Potter and the Deathly Hallows,25,fantasy|young-adult|fiction|harry-potter|ya
1120,3304,La ciudad de las bestias,5045,fantasy|young-adult|fiction|ya|adventure
44450,20662728,Clariel: The Lost Abhorsen,9450,fantasy|young-adult|ya|fiction|magic
12985,52872,Flight: A Novel,8389,fiction|young-adult|ya|native-american|fantasy
39650,13335037,Divergent,12,young-adult|dystopian|ya|fiction|fantasy
39590,13316328,The Last Dragonslayer,9077,fantasy|young-adult|ya|fiction|dragons