In [1]:
import tensorflow as tf

In [2]:
import pandas as pd 
import numpy as np

In [3]:
books = pd.read_csv("goodbooks-10k/books.csv")
books

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [4]:
books = books[["book_id", "original_title"]]
books

      book_id                                     original_title
0           1                                   The Hunger Games
1           2           Harry Potter and the Philosopher's Stone
2           3                                           Twilight
3           4                              To Kill a Mockingbird
4           5                                   The Great Gatsby
...       ...                                                ...
9995     9996                                         Bayou Moon
9996     9997                                   Means of Ascent
9997     9998                              The Mauritius Command
9998     9999  Cinderella Ate My Daughter: Dispatches from th...
9999    10000                                The First World War

[10000 rows x 2 columns]

In [5]:
books["original_title"] = books["original_title"].astype("str")

C:\Users\Yoyo\AppData\Local\Temp/ipykernel_23356/4105598593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books["original_title"] = books["original_title"].astype("str")

In [6]:
books.dtypes

book_id            int64
original_title    object
dtype: object

In [7]:
books_dataset = tf.data.Dataset.from_tensor_slices(dict(books))

In [8]:
books_dataset

In [9]:
ratings = pd.read_csv("goodbooks-10k/ratings.csv")
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [10]:
ratings = ratings.merge(books, how="left", on = "book_id")

In [11]:
ratings["original_title"].value_counts()

nan                                           160910
The Hunger Games                               22806
Harry Potter and the Philosopher's Stone       21850
To Kill a Mockingbird                          19088
Twilight                                       17657
                                               ...
Manga Classics: Les Mis√©rables                    48
The Magic (The Secret #3)                         48
Batman Chronicles: Volume 1                       45
ÈÄ≤ÊíÉ„ÅÆÂ∑®‰∫∫ ÊÇî„ÅÑ„Å™„ÅçÈÅ∏Êäû 1                                    41
kindle paperwhite user's guide 2nd edition        33
Name: original_title, Length: 9275, dtype: int64

In [12]:
ratings.isna().sum()

user_id           0
book_id           0
rating            0
original_title    0
dtype: int64

In [13]:
ratings.drop(ratings[ratings["original_title"] == "nan"].index, inplace=True)

In [14]:
ratings

,user_id,book_id,rating,original_title
0,1,258,5,La sombra del viento
2,2,260,5,How to Win Friends and Influence People
3,2,9296,5,Das Drama des begabten Kindes und die Suche na...
4,2,2318,3,The Millionaire Next Door: The Surprising Secr...
5,2,26,4,The Da Vinci Code
...,...,...,...,...
5976473,49925,330,5,The Eye of the World
5976474,49925,510,5,The Great Hunt
5976475,49925,528,4,The Dragon Reborn
5976476,49925,722,4,The Shadow Rising
5976477,49925,949,5,The Fires of Heaven

In [15]:
ratings["original_title"] = ratings["original_title"].astype("str") 
ratings["user_id"] = ratings["user_id"].astype("int32") 
ratings["book_id"] = ratings["book_id"].astype("int32") 
ratings["rating"] = ratings["rating"].astype("int32")

In [16]:
ratings_dataset = tf.data.Dataset.from_tensor_slices(dict(ratings))

In [17]:
ratings_dataset = ratings_dataset.map(lambda x: {
    "original_title": x["original_title"],
    "user_id": x["user_id"],
    "rating": x["rating"]
})

In [18]:
tf.random.set_seed(42)
shuffled = ratings_dataset.shuffle(100_000, seed=42, reshuffle_each_iteration=False)

train = shuffled.take(80_000)
test = shuffled.skip(80_000).take(20_000)

In [19]:
original_title = ratings_dataset.batch(2_000_000).map(lambda x: x["original_title"])
user_ids = ratings_dataset.batch(2_000_000).map(lambda x: x["user_id"])

unique_original_title = np.unique(np.concatenate(list(original_title)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))

In [20]:
type(unique_user_ids)

numpy.ndarray

In [21]:
type(unique_user_ids[0])

numpy.int32

In [22]:
unique_user_ids.shape

(53424,)

In [25]:
unique_user_ids.max()

53424

In [26]:
unique_user_ids.min()

1

In [23]:
unique_user_ids = np.asarray(unique_user_ids).astype(np.int32)

In [24]:
class RankingModel(tf.keras.Model):

    def __init__(self):
        super().__init__()
        embedding_dimension = 32

    # Compute embeddings for users.
    self.user_embeddings = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=unique_user_ids, mask_token=None),
      tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
    ])

    # Compute embeddings for movies.
    self.movie_embeddings = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=unique_original_titles, mask_token=None),
      tf.keras.layers.Embedding(len(unique_movie_titles) + 1, embedding_dimension)
    ])

    # Compute predictions.
    self.ratings = tf.keras.Sequential([
      # Learn multiple dense layers.
      tf.keras.layers.Dense(256, activation="relu"),
      tf.keras.layers.Dense(64, activation="relu"),
      # Make rating predictions in the final layer.
      tf.keras.layers.Dense(1)
    ])

    def call(self, inputs):

        user_id, movie_title = inputs

        user_embedding = self.user_embeddings(user_id)
        movie_embedding = self.movie_embeddings(movie_title)

        return self.ratings(tf.concat([user_embedding, movie_embedding], axis=1))

H:\Users\Yoan\Documents\test tensorflow\.venv\lib\site-packages\numpy\core\numeric.py:2378: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())
H:\Users\Yoan\Documents\test tensorflow\.venv\lib\site-packages\keras\layers\preprocessing\index_lookup.py:465: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self.oov_token in tokens:

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).